*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: #faedcd;
    color: #333;
    position: relative;
    z-index: 1; 
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.container-md{
    max-width: 100rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
    .container-md {
        padding: 0 3rem;
    }
}

.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #d4a373;
}

.nav {
    padding: 1.6rem 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 2.5rem;
}

.top-nav {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link.icon {
    font-size: 3rem;
}

.hamburger {
    display: none;
}

.cart-icon {
    display: none;
}

@media only screen and (max-width: 777px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: #d4a373;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show {
        left: 0;
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fefae0;
        padding: 1rem 1.6rem;
    }

    .top-nav .logo{
        color: #333;
    }

    .top-nav .close {
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .cart-icon {
        display: block;
        font-size: 3rem;
    }

    .hamburger {
        display: block;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }

    .nav-link:link,
    .nav-link:visited {
        display: block;
        font-size: 1rem; 
        padding: 1rem 0; 
    }

}

.header .hero-img {
    position: absolute;
    bottom: -10%;
    right: 9%;
    height: 65rem;
    object-fit: contain;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
}

.hero-content h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #e63946;
}

.hero-content .discount {
    color: #e63946;
}

.hero-content h1 span {
    font-size: 6rem;
    font-weight: 700;
    display: block;
    line-height: 1;
    text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.btn {
    display: inline-block;
    background-color: #84a59d;
    padding: 1.2rem 4rem;
    color: #fff;
    font-weight: 600;
    margin-top: 3rem;
    text-transform: uppercase;
}

.section {
    padding: 10rem 0 5rem 0;
}

.advert-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.advert-box {
    position: relative;
    color: #333;
    height: 27rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.15);
}

.advert-box img{
    position: absolute;
    bottom: 0;
    left: -20%;
    height: 100%;
    width: 45rem;
    z-index: -1;
}

.advert-box:nth-child(1) {
   background-color: #d4a373;
}

.advert-box:nth-child(2) {
    background-color: #d4a373;
}

.advert-box:nth-child(3) {
    background-color: #d4a373;
}


.advert-box .dotted {
    position: relative;
    height: 100%;
    border: 2px dashed #ffff;
    border-radius: 1rem;
}

.advert-box .content {
    position: absolute;
    top: 75%;
    right: -4%;
    transform: translate(0, -50%);
}


.advert-box .content h2{
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}

.advert-box .content h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.title {
    margin: 4rem 0 7rem 0;
    text-align: center;

}

.title h1 {
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 0.4rem;
    background-color: #ccd5ae;
}

.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    height: 48rem;
    background-color: #d4a373;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.product:hover {
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor:pointer;
}

.product-header {
    position: relative;
    height: 35rem;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.product-header img {
    height: 100%;
}

.product-footer {
    padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3 {
    font-size: 2.2rem;
}

.rating {
    color: #a4161a;
}

.product-footer .price {
    font-size: 2rem;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
}

.product-header .icons {
    position: absolute;
    top: 50%;
    left: 7%;
}

.product-header .icons span {
    line-height: 2rem;
    cursor: pointer;
    background-color: #ccd5ae;
    font-size: 2rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    transition: all 300ms ease-in-out;
}


.product-header .icons span:hover {
    background: #e9edc9;
    color: #333;
}

.product:hover .icons {
    opacity: 1;
}

.product:hover .icons a {
    display: block;
}

.product-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50rem;
    background-color: #ccd5ae;
}


.product-banner .right {
    align-self: center;
    text-align: center;
    padding: 1.6rem;
}

.product-banner .content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #9e2a2b;
}

.product-banner .content .discount {
    color: #9e2a2b;
}

.product-banner .content h1 span {
    color: #335c67;
    font-size: 6rem;
    font-weight: 700;
    display: block;
    line-height: 1;
}

.brands-center {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
}

.brand { 
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
}

.brand img {
    object-fit: contain;
}

.footer {
    background-color: #7f5539;
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-center span {
    margin-right: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #fff;
}

.footer-center a:link,
.footer-center a:visited{
    display: block;
    color: #edf6f9;
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-center a:hover {
    color: #fff;
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}